

/* the container */
.allinone_contentSlider {
	position:relative;
}
.allinone_contentSlider img {
	max-width:none;
	max-height:none;
}
.allinone_contentSlider_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}


.allinone_contentSlider .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
}
.allinone_contentSlider .contentHolder {
	position:absolute;
}
.allinone_contentSlider .contentHolderUnit {
	float:left;
	display:block;
}
.mycanvas {
	position:absolute;
	top:8px;
	right:10px;
	z-index:10;
}


/***COMMON SKIN***/
.allinone_contentSlider.common .bannerControls {
	position:absolute;
	left:0;
	top:0;
	
	z-index:5;
	width:100%;
}

.allinone_contentSlider.common .leftNav {
	position:absolute;
	left:0;
	
	width:60px;
	height:150px;
	background:url(../img/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.common .leftNav:hover {
	background:url(../img/leftNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.common .rightNav {
	position:absolute;
	right:0;
	
	width:60px;
	height:150px;
	background:url(../img/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.common .rightNav:hover {
	background:url(../img/rightNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.common .bottomNav {
	position:absolute;
	width:0px;
	height:30px;
	bottom:-35px;
	z-index:3;
	padding-left:2px;
}
.allinone_contentSlider.common .bottomNavButtonOFF {
	float:left;
	display:block;
	width:33px;
	height:30px;
	background:url(../img/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:2px;
	cursor: pointer;
}

.allinone_contentSlider.common .bottomNavButtonON {
	float:left;
	display:block;
	width:33px;
	height:30px;
	padding-left:2px;
	background:url(../img/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_contentSlider.common .bottomNavLeft {
	position:absolute;
	width:0px;
	display:none;
	background:#F00;
	height:24px;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.common .bottomNavRight {
	position:absolute;
	width:0px;
	display:none;
	height:24px;
	background:#F00;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.common .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	background:url(../img/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom:30px;
	margin-left:-10px;
}
.allinone_contentSlider.common .bottomOverThumb img {
	border:4px solid #000000;
}
.allinone_contentSlider.common .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(../img/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.allinone_contentSlider.common .playOver:hover {
	background:url(../img/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}





/***surprise SKIN***/
.allinone_contentSlider.surprise .bannerControls {
	position:absolute;
	left:0;
	top:0;
	
	z-index:5;
	width:100%;
}

.allinone_contentSlider.surprise .leftNav {
	position:absolute;
	left:0;
	
	margin-top:-6px; 
	width:35px;
	height:140px;
	background:url(../img/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.surprise .leftNav:hover {
	background:url(../img/leftNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.surprise .rightNav {
	position:absolute;
	right:0;
	
	margin-top:-6px;
	width:35px;
	height:140px;
	background:url(../img/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.surprise .rightNav:hover {
	background:url(../img/rightNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.surprise .bottomNav {
	position:absolute;
	width:0px;
	height:24px;
	bottom:-35px;
	z-index:3;
	padding-left:9px;
}
.allinone_contentSlider.surprise .bottomNavButtonOFF {
	float:left;
	display:block;
	width:14px;
	height:14px;
	background:url(../img/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:9px;
	cursor: pointer;
}

.allinone_contentSlider.surprise .bottomNavButtonON {
	float:left;
	display:block;
	width:14px;
	height:14px;
	padding-left:9px;
	background:url(../img/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_contentSlider.surprise .bottomNavLeft {
	position:absolute;
	width:0px;
	display:none;
	background:#F00;
	height:24px;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.surprise .bottomNavRight {
	position:absolute;
	width:0px;
	display:none;
	height:24px;
	background:#F00;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.surprise .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	background:url(../img/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom:27px;
	margin-left:-25px;
}
.allinone_contentSlider.surprise .bottomOverThumb img {
	border:4px solid #000000;
}
.allinone_contentSlider.surprise .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(../img/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.allinone_contentSlider.surprise .playOver:hover {
	background:url(../img/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}







/***imposing SKIN***/
.allinone_contentSlider.imposing .bannerControls {
	position:absolute;
	left:0;
	top:0;
	
	z-index:5;
	width:100%;
}

.allinone_contentSlider.imposing .leftNav {
	position:absolute;
	left:0px;

	width:47px;
	height:140px;
	background:url(skins/imposing/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.imposing .leftNav:hover {
	background:url(skins/imposing/leftNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.imposing .rightNav {
	position:absolute;
	right:0px;

	width:47px;
	height:140px;
	background:url(skins/imposing/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_contentSlider.imposing .rightNav:hover {
	background:url(skins/imposing/rightNavON.png) 0 0 no-repeat;
}
.allinone_contentSlider.imposing .bottomNav {
	position:absolute;
	width:0px;
	height:24px;
	bottom:-35px;
	z-index:3;
	padding-left:9px;
}
.allinone_contentSlider.imposing .bottomNavButtonOFF {
	float:left;
	display:block;
	width:14px;
	height:14px;
	background:url(skins/imposing/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:9px;
	cursor: pointer;
}

.allinone_contentSlider.imposing .bottomNavButtonON {
	float:left;
	display:block;
	width:14px;
	height:14px;
	padding-left:9px;
	background:url(skins/imposing/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_contentSlider.imposing .bottomNavLeft {
	position:absolute;
	width:0px;
	display:none;
	background:#F00;
	height:24px;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.imposing .bottomNavRight {
	position:absolute;
	width:0px;
	display:none;
	height:24px;
	background:#F00;
	bottom:5px;
	z-index:3;
}

.allinone_contentSlider.imposing .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	background:url(skins/imposing/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom:27px;
	margin-left:-25px;
}
.allinone_contentSlider.imposing .bottomOverThumb img {
	border:4px solid #000000;
}
.allinone_contentSlider.imposing .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(skins/imposing/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.allinone_contentSlider.imposing .playOver:hover {
	background:url(skins/imposing/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}


/***Text Styles***/


.allinone_contentSlider_texts {
	position:absolute;
	z-index:2;
	display: none;
	width:100%;
}
.allinone_contentSlider_text_line {
	position:absolute;
}



/****surprise Texts***/


.textElement11_surprise {
	font: bold 50px/21px "Courier New", Courier, monospace;
	text-transform: capitalize;
	color: #A1A1A1;
}
.textElement12_surprise {
	font: bold 20px/51px Tahoma, Geneva, sans-serif;
	color: #5C5C5C;
	text-transform:uppercase;
}



.textElement32r_surprise {
	font: bold 48px/50px "Courier New", Courier, monospace;
	text-transform:capitalize;
	color:#A1A1A1;
}


.textElement22_surprise {
	font: bold 50px/51px "Courier New", Courier, monospace;
	color:#A1A1A1;
	text-transform:capitalize;
}

